* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.header {
  background-color: #2a3860;
  height: 100px;
  width: 100%;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  line-height: 130px;
}

.header-form {
  line-height: 100px;
}

.header-form__form {
  margin-top: 25px;
  position: absolute;
  padding-left: 23px;
  width: 475px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 19px;
}

.header-form__form::-webkit-input-placeholder {
  color: #9f9f9f;
}

.header-form__form::-moz-placeholder {
  color: #9f9f9f;
}

.header-form-img {
  position: relative;
  margin-left: 432px;
  margin-top: 8px;
}

.header-form-img-btn {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.header-svg {
  line-height: 115px;
  margin-left: 150px;
}

.header-svg-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #2a3860;
}

.header-btn {
  line-height: 100px;
}

.header-btn-sign, .header-btn-login {
  background-color: #2a3860;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: #ddd;
  cursor: pointer;
  outline: none;
}

.header-btn-sign {
  width: 99px;
  height: 40px;
  margin-right: 20px;
}

.header-btn-login {
  width: 109px;
  height: 40px;
}

.modal-sign, .modal-login {
  display: none;
  position: fixed;
  z-index: 20;
  margin-top: 20px;
  margin-left: 25%;
  width: 619px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.modal-sign-title, .modal-login-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 63px;
}

.modal-sign-body, .modal-login-body {
  margin-left: 80px;
}

.modal-sign-label, .modal-login-label {
  display: inline-block;
  color: #757575;
  font-size: 14px;
  font-family: sans-serif;
}

.modal-sign-star, .modal-login-star {
  display: inline-block;
  color: #e04d27;
}

.modal-sign-input, .modal-login-input {
  display: block;
  margin-top: 8px;
  width: 459px;
  height: 52px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}

.modal-sign-input:last-child, .modal-login-input:last-child {
  margin-bottom: 0;
}

.modal-sign__btn, .modal-login__btn {
  margin-left: 80px;
  margin-top: 30px;
  width: 459px;
  height: 51px;
  background-color: #e04d27;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.modal-sign-footer, .modal-login-footer {
  text-align: center;
  margin-bottom: 30px;
}

.modal-sign-span, .modal-login-span {
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 32px;
  color: #8d8d8d;
}

.modal-sign-link, .modal-login-link {
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 32px;
  color: #e04d27;
}

.modal-sign-checkbox, .modal-login-checkbox {
  margin-top: 10px;
}

.modal-sign__checkbox, .modal-login__checkbox {
  margin-left: 80px;
  display: inline-block;
  vertical-align: middle;
}

.modal-sign__checkbox-text, .modal-login__checkbox-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  font-family: sans-serif;
  color: #b8b8b8;
}

.modal-login {
  margin-top: -110px;
}

.modal-credit {
  display: none;
  position: fixed;
  border-radius: 5px;
  z-index: 20;
  margin-top: 20px;
  margin-left: 25%;
  width: 819px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.modal-credit-title, .modal-credit-subtitle {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: #1e1e1e;
}

.modal-credit-subtitle {
  font-size: 16px;
  margin-bottom: 40px;
}

.modal-credit-label {
  display: inline-block;
  margin-left: 80px;
  font-size: 14px;
  font-family: sans-serif;
  color: #757575;
  margin-bottom: 8px;
}

.modal-credit-star {
  display: inline-block;
  color: #e04d27;
}

.modal-credit-input {
  display: block;
  margin-left: 80px;
  width: 659px;
  height: 52px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-credit-btn {
  margin-left: 80px;
  width: 195px;
  height: 51px;
  color: #fff;
  background-color: #e04d27;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.close-login, .close-sign, .close-credit {
  outline: none;
  border: none;
  background-color: #fff;
  margin-left: 561px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 3px;
}

.close-login:hover, .close-sign:hover, .close-credit:hover {
  cursor: pointer;
}

.fade {
  display: none;
}

.fade:before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 19;
}

.nav {
  width: 100%;
  height: 45px;
  background-color: #191a1d;
  line-height: 45px;
}

.navbar {
  position: relative;
  width: 900px;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-links__items {
  font-size: 12px;
  font-family: sans-serif;
  color: #ededed;
}

.navbar-links__items-agricultural, .navbar-links__items-motorcycle, .navbar-links__items-bicycle, .navbar-links__items-equipment, .navbar-links__items-services, .navbar-links__items-about, .navbar-links__items-contacts, .navbar-links__items-advice {
  font-weight: 100;
}

.navbar-links-menu-agricultural, .navbar-links-menu-motorcycle, .navbar-links-menu-bicycle {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(9, 9, 9, 0.2);
          box-shadow: 0 0 10px rgba(9, 9, 9, 0.2);
}

.navbar-links-menu-motorcycle {
  margin-left: 210px;
}

.navbar-links-menu__agricultural, .navbar-links-menu__motorcycle, .navbar-links-menu__bicycle {
  margin: 32px;
}

.navbar-links-menu-bicycle {
  margin-left: 300px;
}

.navbar-links-menu-equipment {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(9, 9, 9, 0.2);
          box-shadow: 0 0 10px rgba(9, 9, 9, 0.2);
  padding: 32px;
  margin-left: 400px;
}

.navbar-links-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.navbar-links-menu__title {
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  margin-right: 150px;
}

.navbar-links-menu__span {
  font-size: 12px;
  color: #878786;
}

.navbar-links-menu-line {
  width: 100%;
  height: 2px;
  background-color: green;
  margin-bottom: 20px;
}

.navbar-links-menu-items {
  line-height: 30px;
  margin-bottom: 26px;
}

.navbar-links-menu-items__item {
  color: #878786;
  font-size: 15px;
  font-family: sans-serif;
}

.navbar-links-menu-items__item:hover {
  color: #000;
}

.navbar-links-menu-items-hide {
  display: none;
  margin-left: 40px;
}

.main-slider__title {
  font-size: 56px;
  font-weight: 200;
  font-family: sans-serif;
  color: #2f3134;
  margin-bottom: 20px;
}

.main-slider__subtitle {
  font-size: 20px;
  font-family: sans-serif;
  color: #95999d;
  max-width: 480px;
  margin-bottom: 40px;
}

.main-slider__btn {
  width: 195px;
  height: 51px;
  background-color: #e04d27;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-slider-page {
  margin-left: 135px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  margin-bottom: 75px;
}

.main-slider-text {
  margin-top: 105px;
}

.brands {
  margin-bottom: 132px;
}

.brands-content-logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  color: #e9e9e9;
}

.brands-content-img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 117px;
  max-width: 150px;
}

.selling {
  margin-bottom: 160px;
}

.selling-title {
  font-size: 28px;
  color: #1e1e1e;
  font-family: sans-serif;
  margin-bottom: 30px;
}

.selling-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.selling-cards:last-child {
  margin-right: 0;
}

.selling-cards__card {
  width: 380px;
  height: 420px;
  border: 1px solid #e0e0e0;
}

.selling-cards__card-img {
  max-width: 375px;
  padding-top: 9px;
  margin-bottom: 40px;
  margin: auto;
}

.selling-cards__card-type {
  font-size: 14px;
  color: #757575;
}

.selling-cards__card-name {
  font-size: 16px;
}

.selling-cards__card-price {
  font-size: 19px;
  font-weight: 800;
  color: #2a3860;
  margin-bottom: 15px;
}

.selling-cards__card-type, .selling-cards__card-name, .selling-cards__card-price {
  padding-left: 30px;
}

.selling-cards__card-btn {
  cursor: pointer;
  outline-color: #e04d27;
  width: 148px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e04d27;
  border-radius: 2px;
  color: #e04d27;
  margin-left: 30px;
}

.services-title {
  font-size: 28px;
  font-family: sans-serif;
  color: #1e1e1e;
  margin-bottom: 74px;
}

.services-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 190px;
  margin-bottom: 40px;
}

.services-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}

.services-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
  text-align: center;
  margin-bottom: 120px;
}

.advice-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advice-title {
  font-size: 28px;
  font-family: sans-serif;
  color: #1e1e1e;
  margin-bottom: 30px;
}

.advice-little-img {
  margin-bottom: 120px;
}

.advice-little-img__attendance {
  display: block;
  position: absolute;
  max-width: 460px;
}

.advice-little-img__questions {
  position: absolute;
  max-width: 460px;
}

.advice__opacity-attendance {
  position: relative;
  margin-left: 241px;
  width: 219px;
  height: 263px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 34px;
}

.advice__opacity-attendance-title {
  padding-top: 140px;
  padding-left: 14px;
  font-size: 25px;
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 100;
  color: #fff;
}

.advice__opacity-attendance-subtitle {
  padding-top: 10px;
  padding-left: 14px;
  max-width: 240px;
  font-size: 12px;
  color: #ececec;
}

.advice__opacity-questions {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 460px;
  height: 130px;
  margin-top: 166px;
}

.advice__opacity-questions-title {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 30px;
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 100;
  color: #fff;
  margin-bottom: 10px;
}

.advice__opacity-questions-subtitle {
  padding-left: 40px;
  font-size: 12px;
  font-family: 'NotoSans-Regular', sans-serif;
  color: #fff;
}

.advice-big-img__farm {
  position: absolute;
  max-width: 700px;
  max-height: 561px;
}

.advice__opacity-farm {
  position: relative;
  margin-top: 400px;
  width: 674px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
}

.advice__opacity-farm-title {
  font-size: 30px;
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-weight: 100;
  padding-top: 60px;
  padding-left: 60px;
  color: #fff;
}

.advice__opacity-farm-subtitle {
  padding-top: 8px;
  padding-left: 40px;
  font-size: 12px;
  font-family: 'NotoSans-Regular', sans-serif;
  color: #fff;
}

.contacts-title {
  font-family: 'NotoSans-SemiBold', sans-serif;
  font-size: 28px;
  color: #1e1e1e;
  margin-bottom: 30px;
}

.contacts-main {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 120px;
}

.contacts-form {
  display: inline-block;
  margin-right: 60px;
}

.contacts__input {
  display: block;
  font-size: 24px;
  margin-top: 8px;
  width: 600px;
  height: 52px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}

.contacts__input-message {
  height: 170px;
}

.contacts__name {
  display: inline-block;
}

.contacts__star {
  display: inline-block;
  color: red;
}

.contacts__btn {
  width: 196px;
  height: 51px;
  background-color: #e04d27;
  color: #fff;
  outline-color: #e04d27;
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 383px;
  background-color: #2a3860;
}

.footer-content {
  display: inline-block;
  padding-top: 80px;
}

.footer-contacts {
  display: inline-block;
}

.footer-contacts__logo {
  margin-bottom: 60px;
}

.footer-contacts__mail, .footer-contacts__address, .footer-contacts__land, .footer-contacts__tel {
  font-size: 18px;
  font-family: 'NotoSans-Regular', sans-serif;
  color: #fff;
  line-height: 24px;
}

.footer-shop {
  display: inline-block;
  vertical-align: top;
  margin-left: 300px;
}

.footer-shop-title {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 24px;
  font-weight: 10;
  color: #fff;
  margin-bottom: 60px;
}

.footer-shop__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #d4d4d4;
}

.footer-services {
  display: inline-block;
  vertical-align: top;
  margin-left: 130px;
}

.footer-services-title {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 24px;
  font-weight: 10;
  color: #fff;
  margin-bottom: 60px;
}

.footer-services__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #d4d4d4;
}

.footer-social {
  display: inline-block;
  vertical-align: top;
  margin-left: 130px;
}

.footer-social-title {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 24px;
  font-weight: 10;
  color: #fff;
  margin-bottom: 60px;
}

.footer-social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social__items-facebook {
  text-decoration: none;
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 18px;
  font-weight: 10;
  color: #fff;
}

.sellar {
  width: 100%;
  height: 75px;
  background-color: #2a3860;
}

.sellar-line {
  width: 100%;
  height: 1px;
  background-color: #d4d4d4;
}

.sellar-content {
  line-height: 75px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  color: #afafaf;
}

.sellar-content__name {
  display: inline-block;
  text-transform: uppercase;
}

.sellar-content__terms {
  display: inline-block;
  margin-left: 20px;
}

.sellar-content__privacy {
  display: inline-block;
  margin-left: 20px;
}

.catalog-title {
  margin-top: 110px;
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  font-family: sans-serif;
  margin-bottom: 70px;
}

.catalog-selling-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.catalog-selling-cards:last-child {
  margin-right: 0;
}

.catalog-selling-cards__card {
  width: 280px;
  height: 380px;
  border: 1px solid #e0e0e0;
}

.catalog-selling-cards__card-img {
  max-width: 275px;
  padding-top: 9px;
  margin-bottom: 40px;
  margin: auto;
}

.catalog-selling-cards__card-name {
  margin-top: 40px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px;
}

.catalog-selling-cards__card-price {
  font-size: 19px;
  font-weight: 800;
  color: #2a3860;
  margin-bottom: 15px;
}

.catalog-selling-cards__card-name, .catalog-selling-cards__card-price {
  padding-left: 30px;
}

.catalog-selling-cards__card:hover {
  cursor: pointer;
}

.catalog-selling-cards__btn {
  display: block;
  margin: auto;
  width: 220px;
  height: 41px;
  border: none;
  border-radius: 2px;
  background-color: #e04d27;
  outline: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 40px;
}

.products-content {
  margin-top: 110px;
}

.products-content__title {
  font-size: 38px;
  line-height: 72px;
  color: #2f3134;
  margin-bottom: 70px;
}

.products-content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-content-cards__card {
  display: inline-block;
  width: 380px;
  height: 310px;
  border: 1px solid #e0e0e0;
  margin-bottom: 60px;
}

.products-content-cards__none {
  border: none;
}

.products-content-cards__child {
  display: inline-block;
  width: 380px;
  height: 330px;
  border: 1px solid #e0e0e0;
  margin-bottom: 60px;
  margin-bottom: 300px;
}

.products-content-cards__img {
  max-width: 378px;
}

.products-content-cards__title {
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  font-weight: 600;
  font-family: sans-serif;
  color: #1e1e1e;
}

.products-content-cards__title-child {
  text-align: center;
  padding-top: 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 600;
  font-family: sans-serif;
  color: #1e1e1e;
}

.contacts-content {
  margin-top: 70px;
  margin-bottom: 63px;
}

.contacts-content-text {
  display: inline-block;
  margin-right: 130px;
}

.contacts-content-text__title {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: -0.33px;
  margin-bottom: 30px;
}

.contacts-content-text__subtitle {
  max-width: 480px;
  font-size: 16px;
  font-family: sans-serif;
  color: #95999d;
}

.contacts-content-info {
  display: inline-block;
  vertical-align: top;
  padding-top: 60px;
}

.contacts-content-info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.contacts-content-info__img {
  margin-right: 14px;
}

.contacts-content-info__text {
  font-size: 14px;
  color: #95999d;
}

.contacts-form {
  margin-left: 0px;
}

.contacts__input {
  width: 550px;
}

.contacts__map {
  padding-top: 25px;
  float: right;
}

.about-content {
  margin-top: 60px;
}

.about__title {
  font-size: 30px;
  font-weight: 10;
  font-family: sans-serif;
  margin-bottom: 60px;
}

.about__subtitle {
  max-width: 600px;
  font-size: 16px;
  font-weight: 10;
  font-family: sans-serif;
  line-height: 26px;
  color: #95999d;
}

.about-main-img {
  width: 100%;
  margin-bottom: 55px;
}

.about-motoex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.about-team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

.about-team-card__img {
  width: 280px;
  height: 260px;
  margin-bottom: 23px;
}

.about-team-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-team__names {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-team-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-team__position {
  font-size: 18px;
  color: #95999d;
}

.shop-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-content {
  margin-top: 22px;
  margin-right: 50px;
}

.shop__title, .shop__subtitle, .shop__arrow {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 26px;
}

.shop__title, .shop__arrow {
  color: #515151;
}

.shop-base {
  width: 290px;
  border: #c6c6c5 1px solid;
  border-radius: 2px;
  margin-bottom: 30px;
}

.shop-base-content {
  padding-top: 21px;
  padding-left: 19px;
}

.shop-base-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 21px;
}

.shop-base-list {
  margin-bottom: 13px;
}

.shop-base-list-text {
  vertical-align: middle;
  font-size: 14px;
  color: #1c1c1b;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 10px;
}

.shop-place {
  display: none;
}

.shop-countries {
  display: none;
}

.shop-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.shop-btn-plus, .shop-btn-pluss {
  display: inline-block;
  color: #fff;
  margin-left: 45px;
  width: 18px;
  height: 18px;
  background-color: #c8c8c8;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.shop-btn-list {
  vertical-align: middle;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid #c6c6c5;
  cursor: pointer;
}

.shop-overflow {
  position: relative;
  margin-left: 135px;
  width: 8px;
  height: 280px;
  background-color: #c8c8c8;
  opacity: 20%;
  border-radius: 4px;
}

.shop-overflow-dark {
  position: absolute;
  margin-left: 232px;
  width: 8px;
  height: 55px;
  background-color: #c8c8c8;
  border-radius: 4px;
}

.shop-price-overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-price-overflow-light {
  margin-top: 5px;
  position: relative;
  width: 90%;
  height: 9px;
  background-color: #c8c8c8;
  opacity: 20%;
  border-radius: 2px;
}

.shop-price-overflow-dark {
  position: absolute;
  margin-left: 50px;
  width: 15px;
  height: 20px;
  background-color: #878786;
  border-radius: 2px;
}

.shop-price-overflow-dark:last-child {
  margin-left: 140px;
}

.shop-year-overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-year-overflow-light {
  margin-top: 5px;
  position: relative;
  width: 90%;
  height: 9px;
  background-color: #c8c8c8;
  opacity: 20%;
  border-radius: 2px;
}

.shop-year-overflow-dark {
  position: absolute;
  margin-left: 50px;
  width: 15px;
  height: 20px;
  background-color: #878786;
  border-radius: 2px;
}

.shop-year-overflow-dark:last-child {
  margin-left: 190px;
}

.shop-engine-range {
  width: 90%;
  height: 9px;
}

.shop-price {
  margin-left: 45px;
  font-size: 14px;
  font-weight: 700;
  color: #1c1c1b;
}

.shop-price-content {
  margin-top: 10px;
  margin-bottom: 25px;
}

.shop-price:last-child {
  margin-left: 65px;
}

.shop-year {
  margin-left: 45px;
  font-size: 14px;
  font-weight: 700;
  color: #1c1c1b;
}

.shop-year-content {
  margin-top: 10px;
  margin-bottom: 25px;
}

.shop-year:last-child {
  margin-left: 106px;
}

.shop-engine {
  font-size: 14px;
  font-weight: 700;
  color: #1c1c1b;
}

.shop-engine-content {
  margin-top: 10px;
  margin-bottom: 25px;
}

.shop-engine:last-child {
  margin-left: 140px;
}

.shop-colors-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-colors-btn-black, .shop-colors-btn-white, .shop-colors-btn-red, .shop-colors-btn-blue, .shop-colors-btn-yellow, .shop-colors-btn-green, .shop-colors-btn-grey {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 2px;
  ouline: none;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 25px;
}

.shop-colors-btn-black {
  background-color: #1c1c1b;
}

.shop-colors-btn-white {
  background-color: #fff;
  border: 1px solid #c6c6c5;
}

.shop-colors-btn-red {
  background-color: #e43a20;
}

.shop-colors-btn-blue {
  background-color: #1e56aa;
}

.shop-colors-btn-yellow {
  background-color: #efde20;
}

.shop-colors-btn-green {
  background-color: #8bc34a;
}

.shop-colors-btn-grey {
  background-color: #9b9b9a;
}

.shop-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.shop-stars-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.shop-cards-content {
  margin-bottom: 60px;
}

.shop-card {
  display: inline-block;
  margin-right: 53px;
  width: 245px;
  border: 1px solid #c6c6c5;
}

.shop-card:last-child {
  margin-right: 0;
}

.shop-card-img {
  max-width: 243px;
  border-bottom: 1px solid #c6c6c5;
}

.shop-card-text {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 25px;
}

.shop-card-title, .shop-card-name {
  font-size: 14px;
  font-family: sans-serif;
}

.shop-card-title {
  color: #878786;
}

.shop-card-name {
  font-weight: 600;
}

.shop-card-price {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: #e04d27;
}

.shop-btn-more {
  display: block;
  margin: auto;
  width: 220px;
  height: 41px;
  border: none;
  border-radius: 2px;
  background-color: #e04d27;
  outline: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 40px;
}

.klass {
  display: block;
}

.page-content {
  margin-top: 22px;
}

.page-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content__title {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 38px;
  font-size: 15px;
  color: #515151;
}

.page-content__title:active {
  color: #1e1e1e;
}

.page-content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content-main-image {
  margin-right: 40px;
  margin-bottom: 80px;
}

.page-content-main-text-span {
  font-size: 16px;
  line-height: 26px;
  color: #16d303;
}

.page-content-main-text-title {
  font-size: 42px;
  font-weight: 200;
  line-height: 72px;
  font-family: sans-serif;
  color: #2f3134;
}

.page-content-main-text-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.page-content-main-text-price__new {
  font-size: 30px;
  line-height: 27px;
  color: #e04d27;
  margin-right: 10px;
}

.page-content-main-text-price__old {
  text-decoration: line-through;
  font-size: 22px;
  line-height: 27px;
  color: #999;
  margin-right: 237px;
}

.page-content-main-text-star {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.page-content-main-text-rating {
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.page-content-main-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #f9f8f6;
  border-bottom: 1px solid #f9f8f6;
  width: 350px;
}

.page-content-main-text-block__title {
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
}

.page-content-main-text-block__span {
  line-height: 40px;
  font-size: 16px;
  font-family: sans-serif;
  color: #757575;
}

.page-content-main-text-block:last-child {
  margin-bottom: 20px;
}

.page-content-main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.page-content-main-btn__minus, .page-content-main-btn__plus {
  width: 38px;
  height: 38px;
  background-color: #f3f3f3;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.page-content-main-btn__number {
  width: 43px;
  height: 43px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.page-content-main-btn-bought {
  margin-bottom: 70px;
}

.page-content-main-btn-bought__buy, .page-content-main-btn-bought__credit {
  width: 180px;
  height: 41px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}

.page-content-main-btn-bought__buy {
  background-color: #e04d27;
  color: #fff;
  border-radius: 2px;
  margin-right: 20px;
}

.page-content-main-btn-bought__credit {
  background-color: #fff;
  color: #e04d27;
  border: 1px solid #e04d27;
  border-radius: 2px;
}

.page-content-characteristic {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 40px;
  color: #757575;
}

.page-content-characteristic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content-characteristic-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 565px;
  border-top: 1px solid #f9f8f6;
  border-bottom: 1px solid #f9f8f6;
}

.page-content-characteristic-content-block__title {
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
}

.page-content-characteristic-content-block__span {
  line-height: 40px;
  font-size: 16px;
  font-family: sans-serif;
  color: #757575;
}

.page-content-characteristic-lightcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content-characteristic-lightcontent-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 565px;
}

.page-content-characteristic-lightcontent-block__title {
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  color: grey;
  opacity: 0.5;
}

.page-content-characteristic-lightcontent-block__title-second {
  font-size: 16px;
  opacity: 0.3;
}

.page-content-characteristic-lightcontent-block__title-third {
  font-size: 14px;
  opacity: 0.15;
}

.page-content-characteristic-lightcontent-block__span {
  line-height: 40px;
  font-size: 16px;
  font-family: sans-serif;
  color: grey;
  opacity: 0.5;
}

.page-content-characteristic-lightcontent-block__span-second {
  font-size: 14px;
  opacity: 0.3;
}

.page-content-characteristic-lightcontent-block__span-third {
  font-size: 12px;
  opacity: 0.15;
}

.page-content-btn {
  width: 223px;
  height: 51px;
  cursor: pointer;
  margin-left: 40%;
  background-color: #fff;
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.page-content-products__title {
  font-size: 28px;
  font-family: sans-serif;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 32px;
}

.page-products-slider {
  margin-bottom: 100px;
}

.page-products-slider-page-items-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.page-products-slider-page-items__img {
  width: 388px;
}

.page-products-slider-page-items-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.page-products-slider-page-items__title {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 200;
}

.page-products-slider-page-items-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.page-products-slider-page-items__price {
  font-size: 20px;
  font-weight: 400;
  color: #e04d27;
  margin-left: 330px;
}

.page-products-slider-page-items__price:first-child {
  margin-left: 60px;
}

.page-products-slider-page-items__price:last-child {
  margin-left: 320px;
}

.shopping-content {
  margin-top: 22px;
}

.shopping-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.shopping-links__link, .shopping-links__arrow {
  font-size: 15px;
  font-family: sans-serif;
  color: #515151;
  margin-right: 20px;
}

.shopping-links__link:active {
  color: #1e1e1e;
}

.shopping-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 150px;
  margin-bottom: 15px;
}

.shopping-steps__one, .shopping-steps__two, .shopping-steps__three {
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e5e5e5;
  line-height: 25px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 600;
  margin-right: 170px;
  color: #000;
}

.shopping-steps__one {
  background-color: #e04d27;
  color: #fff;
}

.shopping-steps-line {
  position: absolute;
  z-index: -1;
  margin-top: 12px;
  margin-left: -85px;
  width: 400px;
  height: 1px;
  background-color: #e5e5e5;
  text-align: center;
}

.shopping-title {
  font-size: 30px;
  line-height: 71px;
  font-family: sans-serif;
  letter-spacing: -0.33px;
  text-align: center;
}

.shopping-body {
  margin-top: 24px;
  margin-left: 125px;
  margin-right: 125px;
}

.shopping-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-item, .shopping-num, .shopping-price {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #8d8d8d;
}

.shopping-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.shopping-bag {
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-machine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-machine-img {
  width: 164px;
  height: 123px;
}

.shopping-machine-name {
  margin-left: 26px;
  font-size: 20px;
  letter-spacing: -0.09px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 120px;
}

.shopping-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-info-num {
  width: 48px;
  height: 48px;
  border: 1px solid #e5e5e5;
  margin-top: 35px;
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-right: 22px;
}

.shopping-info-price {
  line-height: 115px;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.shopping-total-price {
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.shopping-total-price-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.shopping-total-price__text {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #9b9b9b;
  margin-right: 6px;
}

.shopping-total-price__price {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 1.5px;
}

.shopping-btn {
  height: 110px;
  margin-bottom: 57px;
}

.shopping-btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.shopping-btn__btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  width: 243px;
  height: 51px;
  background-color: #e04d27;
  color: #fff;
  font-size: 14px;
}

.shopping-btn-section {
  height: 160px;
}

.shopping-second-page, .shopping-third-page {
  display: none;
}

.shopping-second-page-btn, .shopping-third-page-btn {
  float: right;
  margin-right: 140px;
  margin-bottom: 100px;
}

.shopping-second-page-btn__btn, .shopping-third-page-btn__btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  width: 243px;
  height: 51px;
  background-color: #e04d27;
  color: #fff;
  font-size: 14px;
}

.shopping-inputs {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.shopping-inputs-label {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.shopping-inputs-input {
  width: 360px;
  height: 48px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 24px;
}

.shopping-inputs-first-column {
  margin-right: 40px;
}

.shopping-pay-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.shopping-visa-card, .shopping-paypal-card {
  width: 376px;
  height: 78px;
  border: none;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  outline: none;
  text-align: center;
  line-height: 100px;
}

.shopping-visa-card:hover, .shopping-paypal-card:hover {
  background-color: #fafafa;
  cursor: pointer;
  border: 1px solid #998e76;
}

.shopping-third-page-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.shopping-third-page-inputs__name {
  margin-right: 30px;
}

.shopping-cards-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.shopping-cards-data-expire {
  margin-left: 235px;
}

.shopping-cards-data-select {
  width: 165px;
  height: 48px;
  padding-left: 15px;
  border: 1px solid #e5e5e5;
  margin-right: 30px;
}

.shopping-cards-data-cvv {
  margin-right: 23px;
}

.shopping-cards-data-cvv__input {
  width: 165px;
  height: 48px;
  padding-left: 15px;
  border: 1px solid #e5e5e5;
  font-size: 18px;
}

.shopping-cards-span {
  padding-top: 40px;
  font-size: 14px;
  font-family: sans-serif;
  color: #8d8d8d;
  text-decoration: underline;
}

.results-content {
  margin-top: 30px;
}

.results-title {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 71px;
  letter-spacing: -0,33px;
  margin-bottom: 10px;
}

.results-name {
  font-family: sans-serif;
  font-size: 45px;
  line-height: 72px;
  color: #2f3134;
  margin-bottom: 72px;
}

.results-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 300px;
}
/*# sourceMappingURL=style.css.map */